@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #c0bebe83;
    font-size: 15px;
   
}

header {
    text-align: center;
    line-height: 25px;
    padding: 15px;
    background-color: #ffffff;
}

.link{
    text-align: right;
}

h2 {
  font-weight: bold;
    
}

h1 {    
  font-weight: bold;
  font-size: 25px;
}


.artigo{
    border-radius: 6px;
    margin: 10px;
    background-color: #ffffff;
    padding: 15px;
    line-height: 18px;
}

footer{
    text-align: center;
    color: #ffffff;
    margin: 10px;
    background-color: #3590ff;
    border: solid 4px #000000;
    border-radius: 6px;
    padding: 15px;

}

.email{
    border: solid 3px #000000;
    border-radius: 4px;
}

.novidades {
  border-radius: 4px;
  color: #ffffff;
  background-color: #000000;
}

